DS/designstudio/components/page/ui/com.odcgroup.page.ui/src/main/resources/xgui.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT xgui:screen (xgui:dock? | xgui:header? | xgui:script? | xgui:layer* | xgui:menubar? | xgui:toolbar* | xgui:activity+)+>
<!ATTLIST xgui:screen
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	view CDATA #IMPLIED
	onload-script CDATA #IMPLIED
>
<!ELEMENT xgui:dock (xgui:dock-item*)>
<!ELEMENT xgui:dock-item (xgui:label*)>
<!ELEMENT xgui:header (xgui:title?, xgui:footer?, xgui:user?, xgui:messages*)>
<!ATTLIST xgui:header
	id CDATA #IMPLIED
	class CDATA #IMPLIED
>
<!ELEMENT xgui:title ANY>
<!ELEMENT xgui:footer ANY>
<!ELEMENT xgui:user ANY>
<!ELEMENT xgui:holder ANY>
<!ELEMENT xgui:messages (xgui:message+ | xgui:messages+)+>
<!ATTLIST xgui:messages
	id CDATA #IMPLIED
>
<!ELEMENT xgui:message ANY>
<!ATTLIST xgui:message
	text CDATA #REQUIRED
>
<!ELEMENT xgui:menubar (xgui:menu*)>
<!ATTLIST xgui:menubar
	id CDATA #IMPLIED
	class CDATA #IMPLIED
>
<!ELEMENT xgui:menu ((xgui:tooltip? | xgui:action? | xgui:onevent*)*, (xgui:text?), (xgui:menu | xgui:textfield | xgui:separator)*, (xgui:button? | xgui:checkbox? | xgui:hidden? | xgui:label? | xgui:radiobutton?)*)>
<!ATTLIST xgui:menu
	id CDATA #IMPLIED
	action CDATA #IMPLIED
	selected (true | false) #IMPLIED
	enabled (true | false) #IMPLIED
	icon CDATA #IMPLIED
	disabledIcon CDATA #IMPLIED
	maxChar CDATA #IMPLIED
>
<!ELEMENT xgui:separator EMPTY>
<!ELEMENT xgui:activity (xgui:name? | xgui:layer* | xgui:toolbar* | xgui:script* | ((xgui:vbox | xgui:hbox))?)+>
<!ATTLIST xgui:activity
	id CDATA #IMPLIED
	class CDATA #IMPLIED
>
<!ELEMENT xgui:toolbar ((xgui:autocomplete? | xgui:caldatefield? | xgui:combobox? | xgui:glue? | xgui:button? | xgui:checkbox? | xgui:hidden? | xgui:label? | xgui:radiobutton? | xgui:pwdfield? | xgui:searchfield? | xgui:textfield?) | xgui:separator | xgui:holder)*>
<!ATTLIST xgui:toolbar
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
>
<!ELEMENT xgui:name ANY>
<!ELEMENT xgui:layer (xgui:name? | xgui:src? | xgui:vbox* | xgui:hbox*)*>
<!ATTLIST xgui:layer
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	src CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	floatable (true | false) #IMPLIED
>
<!ELEMENT xgui:src ANY>
<!ELEMENT xgui:hbox ((xgui:module* | xgui:vbox? | xgui:hbox? | xgui:grid? | xgui:group? | xgui:chart? | xgui:external? | xgui:filechooser? | xgui:list? | xgui:matrix? | xgui:spacer? | xgui:tabbed-pane? | xgui:table? | xgui:tree? | xgui:textarea? | xgui:autocomplete? | xgui:caldatefield? | xgui:combobox? | xgui:glue? | xgui:button? | xgui:checkbox? | xgui:hidden? | xgui:label? | xgui:radiobutton? | xgui:pwdfield? | xgui:searchfield? | xgui:textfield?)*)>
<!ATTLIST xgui:hbox
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	constraints CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	border (none | box | horizontal) #IMPLIED
	caption CDATA #IMPLIED
	legend CDATA #IMPLIED
>
<!ELEMENT xgui:vbox ((xgui:module* | xgui:vbox? | xgui:hbox? | xgui:grid? | xgui:group? | xgui:chart? | xgui:external? | xgui:filechooser? | xgui:list? | xgui:matrix? | xgui:spacer? | xgui:tabbed-pane? | xgui:table? | xgui:tree? | xgui:textarea? | xgui:autocomplete? | xgui:caldatefield? | xgui:combobox? | xgui:glue? | xgui:button? | xgui:checkbox? | xgui:hidden? | xgui:label? | xgui:radiobutton? | xgui:pwdfield? | xgui:searchfield? | xgui:textfield?)*)>
<!ATTLIST xgui:vbox
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	constraints CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	border (none | box | horizontal) #IMPLIED
	caption CDATA #IMPLIED
	legend CDATA #IMPLIED
>
<!ELEMENT xgui:lbox (xgui:lbox? | xgui:vbox? | xgui:hbox? | xgui:chart? | xgui:external? | xgui:filechooser? | xgui:list? | xgui:matrix? | xgui:spacer? | xgui:tabbed-pane? | xgui:table? | xgui:tree? | xgui:textarea? | xgui:autocomplete? | xgui:caldatefield? | xgui:combobox? | xgui:glue? | xgui:button? | xgui:checkbox? | xgui:hidden? | xgui:label? | xgui:radiobutton? | xgui:pwdfield? | xgui:searchfield? | xgui:textfield?)*>
<!ATTLIST xgui:lbox
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	constraints CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	border (none | box | horizontal) #IMPLIED
	caption CDATA #IMPLIED
	legend CDATA #IMPLIED
>
<!ELEMENT xgui:grid ((xgui:vbox? | xgui:hbox? | xgui:group? | xgui:chart? | xgui:external? | xgui:filechooser? | xgui:list? | xgui:matrix? | xgui:spacer? | xgui:tabbed-pane? | xgui:table? | xgui:tree? | xgui:textarea? | xgui:autocomplete? | xgui:caldatefield? | xgui:combobox? |  xgui:button? | xgui:checkbox? | xgui:hidden? | xgui:label? | xgui:radiobutton? | xgui:pwdfield? | xgui:searchfield? | xgui:textfield?)*)>
<!ELEMENT xgui:group ((xgui:chart? | xgui:external? | xgui:filechooser? | xgui:list? | xgui:spacer? | xgui:textarea? | xgui:autocomplete? | xgui:caldatefield? | xgui:combobox? | xgui:button? | xgui:checkbox? | xgui:hidden? | xgui:label? | xgui:radiobutton? | xgui:pwdfield? | xgui:searchfield? | xgui:textfield?)*)>
<!ATTLIST xgui:group
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
>
<!ELEMENT xgui:module (xgui:name? | xgui:layer* | xgui:toolbar* | xgui:script* | (xgui:vbox | xgui:hbox | xgui:lbox)+)+>
<!ATTLIST xgui:module
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	icon CDATA #IMPLIED
	pagebreak (true | false) #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
>
<!ELEMENT xgui:tabbed-pane (xgui:tab+, ((xgui:vbox | xgui:hbox))?)>
<!ATTLIST xgui:tabbed-pane
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	enabled (true | false) #IMPLIED
>
<!ELEMENT xgui:tab ((xgui:tooltip? | xgui:action? | xgui:onevent* | xgui:widget-group?)*, (xgui:text?))>
<!ATTLIST xgui:tab
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	tooltip CDATA #IMPLIED
	statusbar CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	action CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	type CDATA #IMPLIED
	icon CDATA #IMPLIED
	disabledIcon CDATA #IMPLIED
	hTextPosition (lead | trail | left | center | right) #IMPLIED
	vTextPosition (lead | trail | top | center | bottom) #IMPLIED
	maxChar CDATA #IMPLIED
	selected (true | false) #IMPLIED
>
<!ELEMENT xgui:text ANY>
<!ELEMENT xgui:action ANY>
<!ATTLIST xgui:action
	method (onblur | onchange | onpropertychange | onfocus | onselect | onclick | ondblclick | onkeypress | onkeydown | onkeyup | onmousedown | onmouseup | onmouseover | onmousemove | onmouseout) #IMPLIED
>
<!ELEMENT xgui:tooltip ANY>
<!ELEMENT xgui:widget-group ANY>
<!ELEMENT xgui:value ANY>
<!ELEMENT xgui:default-value ANY>
<!ELEMENT xgui:selected-value ANY>
<!ELEMENT xgui:param ANY>
<!ATTLIST xgui:param
	name CDATA #REQUIRED
>
<!ELEMENT xgui:autocomplete ((xgui:tooltip? | xgui:widget-group? | xgui:onevent? | xgui:value? | xgui:default-value? | xgui:param)*)>
<!ATTLIST xgui:autocomplete
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	tooltip CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	editable (true | false) #IMPLIED
	enabled (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	flipflop (true | false) #IMPLIED
	accesskey CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	type CDATA #IMPLIED
	required (true | false) #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	columns CDATA #IMPLIED
	chars CDATA #IMPLIED
	allow CDATA #IMPLIED
	uri CDATA #IMPLIED
	call-URI CDATA #IMPLIED
	defpar CDATA #IMPLIED
	widget-group-ref CDATA #IMPLIED
	param CDATA #IMPLIED
	delay CDATA #IMPLIED
>
<!ELEMENT xgui:button ((xgui:tooltip? | xgui:action? | xgui:onevent* | xgui:widget-group?)*, (xgui:text?))>
<!ATTLIST xgui:button
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	tooltip CDATA #IMPLIED
	statusbar CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	action CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	accesskey CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	type (main) #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	icon CDATA #IMPLIED
	disabledIcon CDATA #IMPLIED
	hTextPosition (lead | trail | left | center | right) #IMPLIED
	vTextPosition (lead | trail | top | center | bottom) #IMPLIED
	maxChar CDATA #IMPLIED
	currentState CDATA #IMPLIED
>
<!ELEMENT xgui:caldatefield ((xgui:tooltip? | xgui:widget-group? | xgui:onevent*)*, (xgui:destination*)?, (xgui:value? | xgui:default-value?))>
<!ATTLIST xgui:caldatefield
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	tooltip CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	widget-group CDATA #IMPLIED
	accesskey CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	type CDATA #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	freedate (true | false) #IMPLIED
	required (true | false) #IMPLIED
	enabled (true | false) #IMPLIED
	editable (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	flipflop (true | false) #IMPLIED
	resetable (true | false) #IMPLIED
	columns CDATA #IMPLIED
	chars CDATA #IMPLIED
	date-format CDATA #REQUIRED
>
<!ELEMENT xgui:destination ANY>
<!ELEMENT xgui:chart ANY>
<!ATTLIST xgui:chart
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	enabled (true | false) #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT xgui:checkbox ((xgui:tooltip? | xgui:action? | xgui:onevent* | xgui:widget-group?)*, (xgui:text?))>
<!ATTLIST xgui:checkbox
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	group CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	action CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	editable (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	selected (true | false) #IMPLIED
	required (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	flipflop (true | false) #IMPLIED
	accesskey CDATA #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	icon CDATA #IMPLIED
	disabledIcon CDATA #IMPLIED
	hTextPosition (lead | trail | left | center | right) #IMPLIED
	vTextPosition (lead | trail | top | center | bottom) #IMPLIED
	maxChar CDATA #IMPLIED
	nowrap (true | false) #IMPLIED
	default CDATA #IMPLIED
>
<!ELEMENT xgui:combobox ((xgui:tooltip? | xgui:action? | xgui:onevent* | xgui:widget-group? | xgui:selected-value* | xgui:item*)+)>
<!ATTLIST xgui:combobox
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	action CDATA #IMPLIED
	editable (true | false) #IMPLIED
	enabled (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	required (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	flipflop (true | false) #IMPLIED
	accesskey CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	type CDATA #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	selection (none | single | interval | multiple) #IMPLIED
	width CDATA #IMPLIED
>
<!ELEMENT xgui:list (xgui:widget-group? | xgui:selected-value* | xgui:item+)+>
<!ATTLIST xgui:list
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	action CDATA #IMPLIED
	editable (true | false) #IMPLIED
	enabled (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	required (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	flipflop (true | false) #IMPLIED
	accesskey CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	type CDATA #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	selection (none | single | interval | multiple) #IMPLIED
	width CDATA #IMPLIED
	size CDATA #IMPLIED
>
<!ELEMENT xgui:item (xgui:value? | xgui:text?)*>
<!ATTLIST xgui:item
	enabled (true | false) #IMPLIED
	maxChar CDATA #IMPLIED
>
<!ELEMENT xgui:filechooser ((xgui:tooltip? | xgui:action? | xgui:onevent* | xgui:widget-group?)*, (xgui:value? | xgui:default-value+)+)>
<!ATTLIST xgui:filechooser
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	action CDATA #IMPLIED
	editable (true | false) #IMPLIED
	enabled (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	required (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	accesskey CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	type CDATA #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	columns CDATA #IMPLIED
	chars CDATA #IMPLIED
	allow CDATA #IMPLIED
>
<!ELEMENT xgui:hidden (xgui:widget-group?, xgui:value)>
<!ATTLIST xgui:hidden
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	required (true | false) #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT xgui:label ((xgui:tooltip | xgui:action | xgui:onevent* | xgui:text)*)>
<!ATTLIST xgui:label
	for CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	width CDATA #IMPLIED
	action CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	tooltip CDATA #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	icon CDATA #IMPLIED
	disabledIcon CDATA #IMPLIED
	hTextPosition (lead | trail | left | center | right) #IMPLIED
	vTextPosition (lead | trail | top | center | bottom) #IMPLIED
	maxChar CDATA #IMPLIED
	nowrap (true | false) #IMPLIED
	id CDATA #IMPLIED
	mandatory (true | false) #IMPLIED
>
<!ELEMENT xgui:pwdfield ((xgui:tooltip? | xgui:action? | xgui:onevent* | xgui:widget-group?)*, (xgui:value? | xgui:default-value?)+)>
<!ATTLIST xgui:pwdfield
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	action CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	editable (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	required (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	flipflop (true | false) #IMPLIED
	accesskey CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	type CDATA #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	columns CDATA #IMPLIED
	chars CDATA #IMPLIED
	allow CDATA #IMPLIED
>
<!ELEMENT xgui:radiobutton ((xgui:tooltip? | xgui:action? | xgui:onevent* | xgui:widget-group?)*, (xgui:text?))>
<!ATTLIST xgui:radiobutton
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	group CDATA #REQUIRED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	action CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	editable (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	required (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	accesskey CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	icon CDATA #IMPLIED
	disabledIcon CDATA #IMPLIED
	hTextPosition (lead | trail | left | center | right) #IMPLIED
	vTextPosition (lead | trail | top | center | bottom) #IMPLIED
	maxChar CDATA #IMPLIED
	nowrap (true | false) #IMPLIED
	selected (true | false) #IMPLIED
	default CDATA #IMPLIED
>
<!ELEMENT xgui:searchfield ((xgui:tooltip? | xgui:action? | xgui:onevent* | xgui:widget-group?)*, (xgui:value? | xgui:default-value?)+, (xgui:param)*)>
<!ATTLIST xgui:searchfield
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	tooltip CDATA #IMPLIED
	uri CDATA #IMPLIED
	call-URI CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	action CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	editable (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	required (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	accesskey CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	type CDATA #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	columns CDATA #IMPLIED
	chars CDATA #IMPLIED
	allow CDATA #IMPLIED
	param CDATA #IMPLIED
	widget-group-ref CDATA #IMPLIED
>
<!ELEMENT xgui:textarea ((xgui:tooltip? | xgui:action? | xgui:onevent* | xgui:widget-group?)*, (xgui:value? | xgui:default-value?)+)>
<!ATTLIST xgui:textarea
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	action CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	editable (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	required (true | false) #IMPLIED
	flipflop (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	richtext (true | false) #IMPLIED
	accesskey CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	type CDATA #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	columns CDATA #IMPLIED
	chars CDATA #IMPLIED
	allow CDATA #IMPLIED
	rows CDATA #IMPLIED
	width CDATA #IMPLIED
>
<!ELEMENT xgui:textfield ((xgui:tooltip? | xgui:action? | xgui:onevent* | xgui:widget-group?)*, (xgui:value? | xgui:default-value?)*)>
<!ATTLIST xgui:textfield
	widget-group CDATA #IMPLIED
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	action CDATA #IMPLIED
	action-method CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	editable (true | false) #IMPLIED
	readable (true | false) #IMPLIED
	required (true | false) #IMPLIED
	flipflop (true | false) #IMPLIED
	hidden (true | false) #IMPLIED
	accesskey CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	type CDATA #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	columns CDATA #IMPLIED
	chars CDATA #IMPLIED
	allow CDATA #IMPLIED
>
<!ELEMENT xgui:external ANY>
<!ATTLIST xgui:external
	id ID #REQUIRED
	src CDATA #REQUIRED
	type CDATA #IMPLIED
	refresh CDATA #IMPLIED
	border (none | box | horizontal) #IMPLIED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
>
<!ELEMENT xgui:table (xgui:groupcolumns?, xgui:columns?, xgui:row*)>
<!ATTLIST xgui:table
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	enabled (true | false) #IMPLIED
	type (delimited) #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
>
<!ELEMENT xgui:tree (xgui:groupcolumns?, xgui:columns?, xgui:row*)>
<!ATTLIST xgui:tree
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	enabled (true | false) #IMPLIED
	type (delimited) "delimited"
	expand-method CDATA #IMPLIED
	no-indent (true | false) #IMPLIED
	showNumItems (true | false) #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
>
<!ELEMENT xgui:matrix (xgui:columns?, xgui:row*)>
<!ATTLIST xgui:matrix
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	enabled (true | false) #IMPLIED
	noTotIfOne (true | false) #IMPLIED
>
<!ELEMENT xgui:groupcolumns (xgui:column+)>
<!ELEMENT xgui:columns (xgui:column+)>
<!ELEMENT xgui:column ((xgui:tooltip? | xgui:action? | xgui:onevent* | xgui:widget-group?)*, (xgui:text?), (xgui:checkbox?)?)>
<!ATTLIST xgui:column
	id CDATA #IMPLIED
	type CDATA #IMPLIED
	halign (lead | trail | left | center | right) #IMPLIED
	valign (lead | trail | top | center | bottom) #IMPLIED
	class CDATA #IMPLIED
	action CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	nowrap (true | false) #IMPLIED
	locked (true | false) #IMPLIED
	maxChar CDATA #IMPLIED
	sorting (none | ascending | descending) #IMPLIED
	colspan CDATA #IMPLIED
	icon CDATA #IMPLIED
	color CDATA #IMPLIED
	hTextPosition (lead | trail | left | center | right) #IMPLIED
	vTextPosition (lead | trail | top | center | bottom) #IMPLIED
	width CDATA #IMPLIED
	xwidth CDATA #IMPLIED
>
<!ELEMENT xgui:row ((xgui:tooltip? | xgui:action? | xgui:onevent*)*, (xgui:row* | xgui:cell+ | xgui:addcontext*)*)>
<!ATTLIST xgui:row
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	color CDATA #IMPLIED
	action CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	type CDATA #IMPLIED
	expanded CDATA #IMPLIED
	expandicon CDATA #IMPLIED
>
<!ELEMENT xgui:cell ((xgui:autocomplete? | xgui:caldatefield? | xgui:combobox? | xgui:list? | xgui:glue? | xgui:spacer? | xgui:external? | xgui:button? | xgui:checkbox? | xgui:hidden? | xgui:label? | xgui:radiobutton? | xgui:pwdfield? | xgui:searchfield? | xgui:textfield?) | (xgui:vbox | xgui:hbox)?)*>
<!ATTLIST xgui:cell
	id CDATA #IMPLIED
	class CDATA #IMPLIED
	enabled (true | false) #IMPLIED
	locked (true | false) #IMPLIED
	width CDATA #IMPLIED
>
<!ELEMENT xgui:addcontext (xgui:text? | xgui:action?)>
<!ATTLIST xgui:addcontext
	icon CDATA #REQUIRED
	action CDATA #IMPLIED
>
<!ELEMENT xgui:spacer EMPTY>
<!ATTLIST xgui:spacer
	width CDATA #IMPLIED
	height CDATA #IMPLIED
>
<!ELEMENT xgui:glue EMPTY>
<!ATTLIST xgui:glue
	type CDATA #IMPLIED
>
<!ELEMENT xgui:script ANY>
<!ATTLIST xgui:script
	load CDATA #IMPLIED
	src CDATA #IMPLIED
>
<!-- TAGGED ACTIONS -->
<!ELEMENT xgui:onevent (xgui:condition? | xgui:submit? | xgui:print? | xgui:checkboxCheck? | xgui:resetForm? | xgui:clearForm? | xgui:setFormValue? | xgui:setWidgetValue? | xgui:switchWidgetProperty? | xgui:setWidgetProperty? | xgui:setFormProperty? | xgui:setWidgetClass? | xgui:focus? | xgui:refreshScreen? | xgui:winClose? | xgui:showLayer? | xgui:hideLayer? | xgui:rowLayer? | xgui:expand | xgui:effect?)*>
<!ATTLIST xgui:onevent
	type (click | dblclick | enter | focus | blur | change | propertychange | select | keypress | load) "click"
	confirm CDATA #IMPLIED
>
<!ELEMENT xgui:condition (xgui:submit? | xgui:print? | xgui:checkboxCheck? | xgui:resetForm? | xgui:clearForm? | xgui:setFormValue? | xgui:setWidgetValue? | xgui:switchWidgetProperty? | xgui:setWidgetProperty? | xgui:setFormProperty? | xgui:setWidgetClass? | xgui:focus? | xgui:refreshScreen? | xgui:winClose? | xgui:showLayer? | xgui:hideLayer? | xgui:rowLayer? | xgui:expand | xgui:effect?)*>
<!ATTLIST xgui:condition
	state CDATA #IMPLIED
>
<!ELEMENT xgui:submit (xgui:param*)>
<!ATTLIST xgui:submit
	method (get | post | pull) "get"
	uri CDATA #IMPLIED
	call-URI CDATA #IMPLIED
	widget-group-ref CDATA #IMPLIED
	target (self | WUI_main | popup | poprint | layer | opener | parent | new | help) #IMPLIED
	param CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	top CDATA #IMPLIED
	left CDATA #IMPLIED
	only-changed (true | false) "false"
	prevalidate CDATA #IMPLIED
>
<!ELEMENT xgui:print EMPTY>
<!ELEMENT xgui:checkboxCheck EMPTY>
<!ATTLIST xgui:checkboxCheck
	group-ref CDATA #IMPLIED
	widget-group-ref CDATA #IMPLIED
	select CDATA #IMPLIED
	state (true | false) #IMPLIED
	all (true | false) "false"
>
<!ELEMENT xgui:resetForm EMPTY>
<!ATTLIST xgui:resetForm
	widget-group-ref CDATA #REQUIRED
>
<!ELEMENT xgui:clearForm EMPTY>
<!ATTLIST xgui:clearForm
	widget-group-ref CDATA #REQUIRED
	target (self | WUI_main | popup | layer | opener | parent) #IMPLIED
>
<!ELEMENT xgui:setFormValue EMPTY>
<!ATTLIST xgui:setFormValue
	widget-group-ref CDATA #REQUIRED
	value CDATA #IMPLIED
	target (self | WUI_main | popup | layer | opener | parent) #IMPLIED
>
<!ELEMENT xgui:setWidgetValue EMPTY>
<!ATTLIST xgui:setWidgetValue
	widget-group-id CDATA #REQUIRED
	value CDATA #IMPLIED
	target (self | WUI_main | popup | layer | opener | parent) #IMPLIED
>
<!ELEMENT xgui:switchWidgetProperty EMPTY>
<!ATTLIST xgui:switchWidgetProperty
	widget-group-id CDATA #REQUIRED
	property (display | visible | editable | enabled) #REQUIRED
	target (self | WUI_main | popup | layer | opener | parent) #IMPLIED
>
<!ELEMENT xgui:setWidgetProperty EMPTY>
<!ATTLIST xgui:setWidgetProperty
	widget-group-id CDATA #REQUIRED
	property (display | visible | editable | enabled) #REQUIRED
	state (true | false | invert) #IMPLIED
	target (self | WUI_main | popup | layer | opener | parent) #IMPLIED
>
<!ELEMENT xgui:setFormProperty EMPTY>
<!ATTLIST xgui:setFormProperty
	widget-group-ref CDATA #REQUIRED
	property (display | visible | editable | enabled) #REQUIRED
	state (true | false | invert) #IMPLIED
	target (self | WUI_main | popup | layer | opener | parent) #IMPLIED
>
<!ELEMENT xgui:focus EMPTY>
<!ATTLIST xgui:focus
	widget-group-id CDATA #IMPLIED
	target (self | WUI_main | popup | layer | opener | parent) #IMPLIED
>
<!ELEMENT xgui:setWidgetClass EMPTY>
<!ATTLIST xgui:setWidgetClass
	widget-group-id CDATA #REQUIRED
	newclass CDATA #REQUIRED
	target (self | WUI_main | popup | layer | opener | parent) #IMPLIED
>
<!ELEMENT xgui:refreshScreen EMPTY>
<!ATTLIST xgui:refreshScreen
	target (self | popup | opener) #IMPLIED
	delqs (true | false) #IMPLIED
>
<!ELEMENT xgui:winClose EMPTY>
<!ATTLIST xgui:winClose
	target (self | popup | opener | parent) #IMPLIED
>
<!ELEMENT xgui:showLayer EMPTY>
<!ATTLIST xgui:showLayer
	layerId CDATA #REQUIRED
	posX CDATA #IMPLIED
	posY CDATA #IMPLIED
	positioning (absolute | relative | center) #IMPLIED
>
<!ELEMENT xgui:hideLayer EMPTY>
<!ATTLIST xgui:hideLayer
	layerId CDATA #REQUIRED
>
<!ELEMENT xgui:rowLayer (xgui:value+)>
<!ATTLIST xgui:rowLayer
	layerId CDATA #REQUIRED
>
<!ELEMENT xgui:validateForm EMPTY>
<!ATTLIST xgui:validateForm
	widget-group-ref CDATA #REQUIRED
	checkall (true | false) #IMPLIED
>
<!ELEMENT xgui:validateWidget EMPTY>
<!ATTLIST xgui:validateWidget
	widget-group-id CDATA #REQUIRED
>
<!ELEMENT xgui:expand EMPTY>
<!ATTLIST xgui:expand
	widget-group-id CDATA #IMPLIED
	level CDATA #IMPLIED
	selector (true | false) #IMPLIED
>
<!ELEMENT xgui:fixSelect EMPTY>
<!ATTLIST xgui:fixSelect
	mode (hide | select) #IMPLIED
>
<!ELEMENT xgui:effect EMPTY>
<!ATTLIST xgui:effect
	type (highlight | fade) #REQUIRED
	fps CDATA #IMPLIED
	duration CDATA #IMPLIED
	delay CDATA #IMPLIED
	queue (front | end | parallel) #IMPLIED
	startcolor CDATA #IMPLIED
>
<!-- i18n -->
<!ELEMENT i18n:text ANY>
<!-- XSP -->
<!ENTITY % xspelements "xsp:logic | xsp:attribute | %elements;">
<!ENTITY % elements "xsp:expr | xsp:element | xsp:pi | xsp:comment">
<!ELEMENT xsp:page (xsp:structure?, xsp:logic?, xgui:module?, xsp:content)>
<!ATTLIST xsp:page
	language CDATA #REQUIRED
	indent-result (yes | no) "no"
	xmlns:xsp CDATA #FIXED "http://apache.org/xsp"
	xml:space (default | preserve) "preserve"
>
<!ELEMENT xsp:structure (xsp:dtd?, xsp:include*)>
<!ELEMENT xsp:dtd (#PCDATA)>
<!ELEMENT xsp:include (#PCDATA)>
<!ELEMENT xsp:content (#PCDATA | xsp:logic | %elements;)*>
<!ELEMENT xsp:logic (#PCDATA | xsp:content | xsp:attribute | %elements;)*>
<!ATTLIST xsp:logic
	xml:space (default | preserve) "preserve"
>
<!ELEMENT xsp:element (#PCDATA | xsp:attribute | xsp:element | xsp:logic | xsp:expr)*>
<!ATTLIST xsp:element
	name CDATA #REQUIRED
>
<!ELEMENT xsp:attribute (#PCDATA | xsp:expr)*>
<!ATTLIST xsp:attribute
	name CDATA #REQUIRED
	xml:space (default | preserve) "preserve"
>
<!ELEMENT xsp:pi (#PCDATA | xsp:expr)*>
<!ELEMENT xsp:comment (#PCDATA | xsp:expr)*>
<!ELEMENT xsp:expr ANY>
<!-- ADDITIONAL XML DECLARATIONS -->
