DS/designstudio/components/t24/core/com.odcgroup.t24.version.model/src/com/odcgroup/t24/version/VersionDSL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:mdf="http://www.odcgroup.com/mdf" xmlns:translationDsl="http://www.odcgroup.com/translation/TranslationDsl" xmlns:versionDSL="http://www.odcgroup.com/t24/version/VersionDSL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecore:nsPrefix="versionDSL" ecore:package="com.odcgroup.t24.version.versionDSL" targetNamespace="http://www.odcgroup.com/t24/version/VersionDSL">
  <xsd:import namespace="http://www.odcgroup.com/translation/TranslationDsl" schemaLocation="TranslationDsl.xsd"/>
  <xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/Ecore.xsd"/>
  <xsd:import namespace="http://www.odcgroup.com/mdf" schemaLocation="mdf.xsd"/>
  <xsd:element ecore:ignore="true" name="Version" type="versionDSL:Version"/>
  <xsd:element ecore:ignore="true" name="Field" type="versionDSL:Field"/>
  <xsd:element ecore:ignore="true" name="Default" type="versionDSL:Default"/>
  <xsd:element ecore:ignore="true" name="Routine" type="versionDSL:Routine"/>
  <xsd:element ecore:ignore="true" name="AtRoutine" type="versionDSL:AtRoutine"/>
  <xsd:element ecore:ignore="true" name="ValueOrAtRoutine" type="versionDSL:ValueOrAtRoutine"/>
  <xsd:element ecore:ignore="true" name="JBCRoutine" type="versionDSL:JBCRoutine"/>
  <xsd:element ecore:ignore="true" name="JavaRoutine" type="versionDSL:JavaRoutine"/>
  <xsd:element ecore:ignore="true" name="DealSlip" type="versionDSL:DealSlip"/>
  <xsd:complexType name="Version">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="description" type="translationDsl:Translations"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="keySequence" nillable="true" type="ecore:EString"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="dealSlipFormats" type="versionDSL:DealSlip"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="languageLocale" nillable="true" type="ecore:EString"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="header1" type="translationDsl:Translations"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="header2" type="translationDsl:Translations"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="header" type="translationDsl:Translations"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="footer" type="translationDsl:Translations"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="authorizationRoutines" type="versionDSL:Routine"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="authorizationRoutinesAfterCommit" type="versionDSL:Routine"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="inputRoutines" type="versionDSL:Routine"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="inputRoutinesAfterCommit" type="versionDSL:Routine"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="keyValidationRoutines" type="versionDSL:Routine"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="preProcessValidationRoutines" type="versionDSL:Routine"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="webValidationRoutines" type="versionDSL:Routine"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="ecore:EString"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="webServiceNames" nillable="true" type="ecore:EString"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="fields" type="versionDSL:Field"/>
    </xsd:sequence>
    <xsd:attribute ecore:reference="mdf:MdfClass" name="forApplication" type="xsd:anyURI"/>
    <xsd:attribute name="shortName" type="ecore:EString"/>
    <xsd:attribute name="t24Name" type="ecore:EString"/>
    <xsd:attribute name="metamodelVersion" type="ecore:EString"/>
    <xsd:attribute name="group" type="ecore:EString"/>
    <xsd:attribute name="numberOfAuthorisers" type="ecore:EIntegerObject"/>
    <xsd:attribute name="exceptionProcessing" type="ecore:EIntegerObject"/>
    <xsd:attribute name="interfaceException" type="ecore:EIntegerObject"/>
    <xsd:attribute ecore:unsettable="false" name="businessDayControl" type="versionDSL:BusinessDayControl"/>
    <xsd:attribute ecore:unsettable="false" name="otherCompanyAccess" type="versionDSL:YesNo"/>
    <xsd:attribute ecore:unsettable="false" name="autoCompanyChange" type="versionDSL:YesNo"/>
    <xsd:attribute ecore:unsettable="false" name="overrideApproval" type="versionDSL:YesNo"/>
    <xsd:attribute ecore:unsettable="false" name="dealSlipTrigger" type="versionDSL:DealSlipTrigger"/>
    <xsd:attribute name="dealSlipStyleSheet" type="ecore:EString"/>
    <xsd:attribute name="recordsPerPage" type="ecore:EString"/>
    <xsd:attribute name="fieldsPerLine" type="ecore:EString"/>
    <xsd:attribute name="initialCursorPosition" type="ecore:EString"/>
    <xsd:attribute name="browserToolbar" type="ecore:EString"/>
    <xsd:attribute ecore:reference="versionDSL:Version" name="nextVersion" type="xsd:anyURI"/>
    <xsd:attribute ecore:unsettable="false" name="nextVersionFunction" type="versionDSL:Function"/>
    <xsd:attribute name="nextTransactionReference" type="ecore:EString"/>
    <xsd:attribute ecore:reference="versionDSL:Version" name="associatedVersions">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ecore:unsettable="false" name="includeVersionControl" type="versionDSL:YesNo"/>
    <xsd:attribute ecore:reference="versionDSL:Version" name="confirmVersion" type="xsd:anyURI"/>
    <xsd:attribute ecore:reference="versionDSL:Version" name="previewVersion" type="xsd:anyURI"/>
    <xsd:attribute name="challengeResponse" type="ecore:EString"/>
    <xsd:attribute ecore:unsettable="false" name="publishWebService" type="versionDSL:YesNo"/>
    <xsd:attribute name="webServiceActivity" type="ecore:EString"/>
    <xsd:attribute ecore:unsettable="false" name="webServiceFunction" type="versionDSL:Function"/>
    <xsd:attribute name="webServiceDescription" type="ecore:EString"/>
    <xsd:attribute ecore:unsettable="false" name="generateIFP" type="versionDSL:YesNo"/>
  </xsd:complexType>
  <xsd:complexType name="Field">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="defaults" type="versionDSL:Default"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="label" type="translationDsl:Translations"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="toolTip" type="translationDsl:Translations"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="validationRoutines" type="versionDSL:Routine"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="ecore:EString"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="ecore:EString"/>
    <xsd:attribute ecore:unsettable="false" name="displayType" type="versionDSL:DisplayType"/>
    <xsd:attribute ecore:unsettable="false" name="inputBehaviour" type="versionDSL:InputBehaviour"/>
    <xsd:attribute ecore:unsettable="false" name="caseConvention" type="versionDSL:CaseConvention"/>
    <xsd:attribute name="maxLength" type="ecore:EIntegerObject"/>
    <xsd:attribute name="enrichmentLength" type="ecore:EIntegerObject"/>
    <xsd:attribute ecore:unsettable="false" name="expansion" type="versionDSL:Expansion"/>
    <xsd:attribute ecore:unsettable="false" name="rightAdjust" type="versionDSL:YesNo"/>
    <xsd:attribute ecore:unsettable="false" name="enrichment" type="versionDSL:YesNo"/>
    <xsd:attribute name="column" type="ecore:EIntegerObject"/>
    <xsd:attribute name="row" type="ecore:EIntegerObject"/>
    <xsd:attribute ecore:unsettable="false" name="mandatory" type="versionDSL:YesNo"/>
    <xsd:attribute ecore:unsettable="false" name="rekeyRequired" type="versionDSL:YesNo"/>
    <xsd:attribute name="hyperlink" type="ecore:EString"/>
    <xsd:attribute ecore:unsettable="false" name="hotValidate" type="versionDSL:YesNo"/>
    <xsd:attribute ecore:unsettable="false" name="hotField" type="versionDSL:YesNo"/>
    <xsd:attribute ecore:unsettable="false" name="webValidate" type="versionDSL:YesNo"/>
    <xsd:attribute name="selectionEnquiry" type="ecore:EString"/>
    <xsd:attribute name="enquiryParameter" type="ecore:EString"/>
    <xsd:attribute ecore:unsettable="false" name="popupBehaviour" type="versionDSL:PopupBehaviour"/>
    <xsd:attribute ecore:name="MV" name="MV" type="ecore:EIntegerObject"/>
    <xsd:attribute ecore:name="SV" name="SV" type="ecore:EIntegerObject"/>
  </xsd:complexType>
  <xsd:complexType name="Default">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="defaultNewValueOrAtRoutine" type="versionDSL:ValueOrAtRoutine"/>
    </xsd:sequence>
    <xsd:attribute name="mv" type="ecore:EIntegerObject"/>
    <xsd:attribute name="sv" type="ecore:EIntegerObject"/>
    <xsd:attribute name="defaultIfOldValueEquals" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="Routine">
    <xsd:complexContent>
      <xsd:extension base="versionDSL:AtRoutine">
        <xsd:attribute name="name" type="ecore:EString"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AtRoutine"/>
  <xsd:complexType name="ValueOrAtRoutine">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="atRoutine" type="versionDSL:AtRoutine"/>
    </xsd:sequence>
    <xsd:attribute name="value" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="JBCRoutine">
    <xsd:complexContent>
      <xsd:extension base="versionDSL:Routine"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JavaRoutine">
    <xsd:complexContent>
      <xsd:extension base="versionDSL:Routine"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DealSlip">
    <xsd:attribute name="format" type="ecore:EString"/>
    <xsd:attribute ecore:unsettable="false" name="function" type="versionDSL:DealSlipFormatFunction"/>
  </xsd:complexType>
  <xsd:simpleType name="YesNo">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NULL"/>
      <xsd:enumeration value="Yes"/>
      <xsd:enumeration value="No"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PopupBehaviour">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="Calendar"/>
      <xsd:enumeration value="Calculator"/>
      <xsd:enumeration ecore:name="RateControl" value="RATE CONTROL"/>
      <xsd:enumeration value="Recurrence"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CaseConvention">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="Lowercase"/>
      <xsd:enumeration value="Uppercase"/>
      <xsd:enumeration ecore:name="Propercase" value="Proper_Case"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DisplayType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="NoDisplay"/>
      <xsd:enumeration value="Combobox"/>
      <xsd:enumeration ecore:name="VerticalOptions" value="Vertical.Options"/>
      <xsd:enumeration value="Toggle"/>
      <xsd:enumeration ecore:name="DropDownNoInput" value="DropDown.NoInput"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DealSlipFormatFunction">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="I"/>
      <xsd:enumeration value="A"/>
      <xsd:enumeration value="C"/>
      <xsd:enumeration value="R"/>
      <xsd:enumeration value="D"/>
      <xsd:enumeration value="H"/>
      <xsd:enumeration value="Finish"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DealSlipTrigger">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="OL"/>
      <xsd:enumeration value="RQ"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BusinessDayControl">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="Normal"/>
      <xsd:enumeration value="Restricted"/>
      <xsd:enumeration value="Closed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Function">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="Input"/>
      <xsd:enumeration value="Authorise"/>
      <xsd:enumeration value="Reverse"/>
      <xsd:enumeration value="See"/>
      <xsd:enumeration value="Copy"/>
      <xsd:enumeration value="Delete"/>
      <xsd:enumeration value="HistoryRestore"/>
      <xsd:enumeration value="Verify"/>
      <xsd:enumeration value="AuditorReview"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InputBehaviour">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="NoChange"/>
      <xsd:enumeration value="NoInput"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Expansion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="No"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
