DS/designstudio/components/workbench/core/com.odcgroup.translation.core/schema/richtext_translation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xml:lang="en"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	
	<xs:annotation>
		<xs:documentation>
		Schema for the styled translations in Design Studio
		Based on some definitions extracted/adapted from XHTML.
		Version:	1.0
		Author:		Alain Tripod
		</xs:documentation>
	</xs:annotation>
			
	<xs:simpleType name="ParagraphAlignment">
		<xs:annotation>
			<xs:documentation>
			paragraph alignement
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="left"/>
			<xs:enumeration value="right"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="justify"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Number">
		<xs:annotation>
			<xs:documentation>
			one or more digits
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:pattern value="[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="HexColor">
		<xs:annotation>
			<xs:documentation>
			#RRGGBB, 3 hexa number for red, green, blue
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="#([0-9a-f]{1,2}){3}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:attributeGroup name="i18n">
		<xs:annotation>
			<xs:documentation>
			internationalization attributes
			lang	language code (as per XML 1.0 spec)
			dir     direction for weak/neutral text
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="lang">
			<xs:simpleType>
				<xs:union memberTypes="xs:language">
					<xs:simpleType>    
						<xs:restriction base="xs:string">
							<xs:enumeration value=""/>
						</xs:restriction>
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="dir">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ltr"/>
					<xs:enumeration value="rtl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
  
    <xs:simpleType name="FontSize">
		<xs:annotation>
			<xs:documentation>
			define the font size in pixel, 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Number">
			<xs:minInclusive value="8"/>
			<xs:maxInclusive value="20"/>
		</xs:restriction>
	</xs:simpleType>
  
	<xs:attributeGroup name="font">
		<xs:annotation>
			<xs:documentation>
			font attributes (ff=font-face, fs=font-size)
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ff" type="xs:string"/>
		<xs:attribute name="fs" type="FontSize"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="color">
		<xs:annotation>
			<xs:documentation>
			Color attributes (fc=foreground-color, bc=background-color)
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="fc" type="HexColor"/>
		<xs:attribute name="bc" type="HexColor"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="coreattrs">
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="class" type="xs:NMTOKENS"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="attrs">
		<xs:attributeGroup ref="coreattrs"/>
		<xs:attributeGroup ref="i18n"/>
		<xs:attributeGroup ref="font"/>
		<xs:attributeGroup ref="color"/>
	</xs:attributeGroup>
	
	<xs:annotation>
		<xs:documentation>
		=================== Text Elements ====================================
		</xs:documentation>
	</xs:annotation>
	
	<xs:group name="inline">
		<xs:choice>
			<xs:element ref="i"/>
			<xs:element ref="b"/>
			<xs:element ref="u"/>
			<xs:element ref="br"/>
			<xs:element ref="s"/>
		</xs:choice>
	</xs:group>
	
	<xs:complexType name="Inline" mixed="true">
		<xs:annotation>
			<xs:documentation>
			"Inline" covers inline or "text-level" element
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="inline"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:annotation>
		<xs:documentation>
		=================== Paragraphs =======================================
		</xs:documentation>
	</xs:annotation>

	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="Inline">
					<xs:attributeGroup ref="coreattrs"/>
					<xs:attribute name="align" type="ParagraphAlignment"/>
					<xs:attribute name="li" type="Number">
						<xs:annotation>
							<xs:documentation>
							indentation for the first Line, in pixels
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="wi" type="Number">
						<xs:annotation>
							<xs:documentation>
							indentation for wrapped Lines, in pixels
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:annotation>
		<xs:documentation>
		=================== Lists ============================================
		</xs:documentation>
	</xs:annotation>

	<xs:simpleType name="ULStyle">
		<xs:annotation>
			<xs:documentation>
			List bullet styles
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="disc"/>
			<!-- xs:enumeration value="square"/ -->
			<!-- xs:enumeration value="circle"/ -->
		</xs:restriction>
	</xs:simpleType>
	
	 <xs:simpleType name="OLStyle">
		<xs:annotation>
			<xs:documentation>
			Ordered list numbering style

			1   arabic numbers      1, 2, 3, ...
			a   lower alpha         a, b, c, ...
			A   upper alpha         A, B, C, ...
			i   lower roman         i, ii, iii, ...
			I   upper roman         I, II, III, ...

			The style is applied to the sequence number which by default
			is reset to 1 for the first list item in an ordered list.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
  
	<xs:element name="ul">
		<xs:annotation>
			<xs:documentation>
			Unordered Bullet list
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="li"/>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
			<xs:attribute name="type" type="ULStyle"/>
			<xs:attribute name="li" type="Number">
				<xs:annotation>
					<xs:documentation>
					indentation of the list in pixels
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="wi" type="Number">
				<xs:annotation>
					<xs:documentation>
					indentation for wrapped Lines, in pixels
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ol">
		<xs:annotation>
			<xs:documentation>
			Ordered (Numbered) list, custom numbering must be done using CSS
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="li"/>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
			<xs:attribute name="type" type="OLStyle"/>
			<xs:attribute name="start" type="Number"/>
			<xs:attribute name="li" type="Number">
				<xs:annotation>
					<xs:documentation>
					indentation of the list in pixels
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="wi" type="Number">
				<xs:annotation>
					<xs:documentation>
					indentation for wrapped Lines, in pixels
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="li">
		<xs:annotation>
			<xs:documentation>
			list item
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="Flow">
					<xs:attributeGroup ref="coreattrs"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
  
	<xs:annotation>
		<xs:documentation>
		===================== Inline Elements ================================
		</xs:documentation>
	</xs:annotation>
	
	<xs:element name="br">
		<xs:annotation>
			<xs:documentation>
			forced line break
			</xs:documentation>
		</xs:annotation>
	</xs:element>	
	
	<xs:element name="s">
		<xs:annotation>
			<xs:documentation>
			Text chunk with formatting attributes
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="attrs"/>
			<xs:attribute name="ts">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="bui"/>
						<xs:enumeration value="biu"/>
						<xs:enumeration value="ubi"/>
						<xs:enumeration value="uib"/>
						<xs:enumeration value="ibu"/>
						<xs:enumeration value="iub"/>
						<xs:enumeration value="bu"/>
						<xs:enumeration value="bi"/>
						<xs:enumeration value="ui"/>
						<xs:enumeration value="ub"/>
						<xs:enumeration value="iu"/>
						<xs:enumeration value="ib"/>
						<xs:enumeration value="b"/>
						<xs:enumeration value="u"/>
						<xs:enumeration value="i"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="i">
		<xs:annotation>
			<xs:documentation>
			italic font
			</xs:documentation>
		</xs:annotation>
		<!--xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="Inline">
					<xs:attributeGroup ref="attrs"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType -->
	</xs:element>

	<xs:element name="b">
		<xs:annotation>
			<xs:documentation>
			bold font
			</xs:documentation>
		</xs:annotation>
		<!-- xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="Inline">
					<xs:attributeGroup ref="attrs"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType -->
	</xs:element>
			
	<xs:element name="u">
		<xs:annotation>
			<xs:documentation>
			underline font
			</xs:documentation>
		</xs:annotation>
		<!-- xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="Inline">
					<xs:attributeGroup ref="attrs"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType -->
	</xs:element>
	
	<xs:annotation>
		<xs:documentation>
		===================== Root Element ================================
		</xs:documentation>
	</xs:annotation>
	
	<xs:complexType name="Flow" mixed="true">
		<xs:annotation>
			<xs:documentation>
			"Flow" mixes paragraphes, inlines and lists.
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="ul"/>
			<xs:element ref="ol"/>
			<xs:element ref="p"/>
			<xs:group ref="inline"/>
		</xs:choice>
	</xs:complexType>

	<xs:element name="rt">
		<xs:annotation>
			<xs:documentation>
			"rt" is the root element for rich text translations
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="Flow">
					<xs:attributeGroup ref="i18n"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

</xs:schema>