DS/designstudio/components/t24/core/com.odcgroup.t24.application.model/src/main/resources/helptext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
       xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" version="1.0">
<!-- targetNamespace="http://www.temenos.com/t24-helptext" xmlns="http://www.temenos.com/t24-helptext" -->
  <xsd:element name="t24help">
      <xsd:complexType>
      <xsd:choice>
                <xsd:sequence>
        <xsd:element name="header" type="Header"
      		minOccurs="0" maxOccurs="1" />
      	<xsd:element name="overview" type="Overview" minOccurs="0"
      		maxOccurs="1"/>
      	<xsd:element name="menu" type="Menu" minOccurs="0"
      		maxOccurs="1"/>
      		</xsd:sequence>
      	</xsd:choice>	
      </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Header">
      <xsd:sequence>
	      <xsd:element name="product" type="xsd:string" />
	      <xsd:element minOccurs="0" name="title" type="xsd:string" />
	      <xsd:element name="table" type="xsd:string" />
      </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Overview">
      <xsd:all>
        <xsd:element minOccurs="0" name="ovimage" type="xsd:string" />
        <xsd:element name="ovdesc" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
               <xsd:any minOccurs="0" processContents="skip"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="Menu">
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="t">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="field" type="xsd:string" />
              <xsd:element name="desc" minOccurs="0">
                <xsd:complexType mixed="true">
                  <xsd:sequence  maxOccurs="unbounded">
                    <xsd:any minOccurs="0" processContents="skip"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
  </xsd:complexType>
</xsd:schema>